@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-Regular.woff2') format('woff2'),
         url('fonts/BebasNeue-Regular.woff') format('woff');
}

.headerlink {
    font-weight: bold;
}

.md-content__icon:hover {
    font-weight: bold;
}

.md-nav {
    background: rgb(247,247,247);
}

.md-nav__link.md-nav__link--active {
    font-weight: bold;
}	       

.nersc-foot-col-3 {
    float: left;
    width: 33.33%;
    padding: 2rem;
}

.nersc-foot-col-2 {
    float: left;
    width: 50.00%;
    padding: 2rem;
}

.nersc-foot-cell {
    display: table;
    margin: 0 auto;
}

.nersc-foot-row:after {
    content: "";
    display: table;
    clear: both;
}

.nersc-foot-title {
    color:hsla(0,0%,100%,.7);
    font-weight:bold;   
}
.nersc-bigbutton{
    background-color: rgb(26,142,188);
    display: block;
    width: 7.1rem;
    height: 4.25rem;
    padding-top: 1.7rem;
    padding-left: 0.1rem;
    text-transform: uppercase;
    overflow: hidden;
}
.nersc-bigbutton:hover{
    background-color: rgb(246, 132, 0);
    cursor: pointer;
}
.nersc-bigbutton a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.0;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
.nersc-bigbutton a strong{
    font-size: 1.3rem;
    font-weight: 400;
}
.nersc-bigbutton a:link, .nersc-bigbutton a:visited, .nersc-bigbutton a:hover{
    color: rgb(255,255,255) !important;
}


@media (max-width: 720px) {
    .nersc-foot-col-2 {
        width: 100%;	
    }

    .nersc-foot-col-3 {
        width: 100%;	
    }
    .nersc-foot-cell {
	display: table;
	margin: 0 auto;
	float: left;
    }
}

.md-typeset table:not([class]) th {
    min-width: 1px;
}
